
{{#if (localeIs "en")}}
{{#each film}}
    <div class="Film">
        <a
            class="Film_img-container card-image"
            style="background-image: url('//localhost:3000/uploads/{{img}}');"
            href="/film/{{slug}}"></a>
        <div class="Film_content">
            <div>
                <div class="pull-right">
                    {{#unless event}}
                        <div class="Film_runtime pull-right">Duration:
                            {{duration}}
                            min
                        </div>
                    {{/unless}}
                </div>
                <div class="filmGenre" category="{{category.en}}">{{category.en}}</div>
                <div class="clearfix"></div>
                <h4 class="heading-4">
                    <a class="Film_title" href="/film/{{slug}}">{{title.en}}</a>
                </h4>
                <div class="filmSummary">{{description.en}}</div>
            </div>
            <div class="time_and_more">
                <span class="start_time">Starts at
                    {{screeningTime}}
                    on
                    {{date}}</span>
                <a class="Film_more" href="/film/{{slug}}">View Details</a>
            </div>
        </div>
    </div>

{{/each}}
{{/if}}
{{#if (localeIs "hy")}}

{{#each film}}
    <div class="Film">
        <a
            class="Film_img-container card-image"
            style="background-image: url('//localhost:3000/uploads/{{img}}');"
            href="/film/{{slug}}"></a>
        <div class="Film_content">
            <div>
                <div class="pull-right">
                    {{#unless event}}
                        <div class="Film_runtime pull-right">Տևողություն:
                            {{duration}}
                            րոպե
                        </div>
                    {{/unless}}
                </div>
                <div class="filmGenre" category="{{category.en}}">{{category.hy}}</div>
                <div class="clearfix"></div>
                <h4 class="heading-4">
                    <a class="Film_title" href="/film/{{slug}}">{{title.hy}}</a>
                </h4>
                <div class="filmSummary">{{description.hy}}</div>
            </div>
            <div class="time_and_more">
                <span class="start_time">Սկիզբ՝
                    {{screeningTime}}
                    
                    {{date}}</span>
                <a class="Film_more" href="/film/{{slug}}">Ավելին</a>
            </div>
        </div>
    </div>

{{/each}}
{{/if}}
<script type="text/javascript">
    function truncateString(str, num) {
        if (str.length <= num) {
            return str
        }
        return str.slice(0, num) + ' ...'
    }
    let filmSummary = document.querySelectorAll('.filmSummary')
    for (let i = 0; i < filmSummary.length; i++) {
        let test = truncateString(filmSummary[i].innerHTML, 360)
        filmSummary[i].innerHTML = test
    }
    let category = document.querySelectorAll('.filmGenre')
    let img = document.querySelectorAll('.card-image')
    let catArr = []
    let imgArr = []
    for (let i = 0; i < category.length; i++) {
        catArr.push(category[i].getAttribute('category'))
    }
    for (let i = 0; i < img.length; i++) {
        imgArr.push(img[i])
    }
    for (let i = 0; i < catArr.length; i++) {
        switch (catArr[i]) {
            case 'Wildlife Conservation Films':
                imgArr[i]
                    .classList
                    .add('card-image-green')
                break;
            case 'Environmental Films':
                imgArr[i]
                    .classList
                    .add('card-image-blue')
                break;
            case 'Educational Films':
                imgArr[i]
                    .classList
                    .add('card-image-orange')
                break;
            case 'Wildfire Prevention Films':
                imgArr[i]
                    .classList
                    .add('card-image-red')
                break;
            case 'Informational Film Program':
                imgArr[i]
                    .classList
                    .add('card-image-black')
                break;
            case 'Events':
                imgArr[i]
                    .classList
                    .add('card-image-yellow')
                break;
            case 'Journalistic Competition':
                imgArr[i]
                    .classList
                    .add('card-image-brown')
                break;
            default:
                imgArr[i]
                    .classList
                    .add('card-image-green')
                break;

        }
    }
</script>