{{#each film}}
    <div class="Film">
        <a
            class="Film_img-container card-image"
            style="background-image: url('//localhost:3000/uploads/{{img}}');"
            href="/film/{{slug}}"></a>
        <div class="Film_content">
            <div>
                <div class="pull-right">
                    <div class="Film_runtime pull-right">Duration:
                        {{duration}}
                        min
                    </div>
                </div>
                <div class="filmGenre">{{category}}</div>
                <div class="clearfix"></div>
                <h4 class="heading-4">
                    <a class="Film_title" href="/film/{{id}}">{{title}}</a>
                </h4>
                <div class="Film_summary">{{description}}</div>
            </div>
            <div class="time_and_more">
                <span class="start_time">Starts at
                    {{screeningTime}}
                    on
                    {{date}}</span>
                <a class="Film_more" href="/film/{{id}}">View Details</a>
            </div>
        </div>
    </div>

{{/each}}

<script type="text/javascript">

    let category = document.querySelectorAll('.filmGenre')
    let img = document.querySelectorAll('.card-image')
    let catArr = []
    let imgArr = []

    for (let i = 0; i < category.length; i++) {
        catArr.push(category[i].innerHTML)
    }
    for (let i = 0; i < img.length; i++) {
        imgArr.push(img[i])
    }
    for (let i = 0; i < catArr.length; i++) {
        switch (catArr[i]) {
            case 'Wildlife Conservation Films':
                imgArr[i]
                    .classList
                    .add('card-image-green')
                break;
            case 'Environmental Films':
                imgArr[i]
                    .classList
                    .add('card-image-blue')
                break;
            case 'Youth and Children Films':
                imgArr[i]
                    .classList
                    .add('card-image-orange')
                break;
            case 'Wildfire Prevention Films':
                imgArr[i]
                    .classList
                    .add('card-image-red')
                break;
            case 'Non-Competition Films':
                imgArr[i]
                    .classList
                    .add('card-image-black')
                break;
            case 'Events':
                imgArr[i]
                    .classList
                    .add('card-image-yellow')
                break;
            case 'Journalistic Competition':
                imgArr[i]
                    .classList
                    .add('card-image-brown')
                break;
            default:
                imgArr[i]
                    .classList
                    .add('card-image-green')
                break;

        }
    }
</script>