{{#if ishome}}
    <header class="Header"><img
        class="brand"
        src="https://www.fpwc.org/wp-content/uploads/2021/10/wildfire-opt.jpg"
        alt="SIEF"></header>
{{/if}}
{{#if isschedule}}
    <header class="Header"><img
        class="brand"
        src="https://www.fpwc.org/wp-content/uploads/2021/10/wildfire-opt.jpg"
        alt="SIEF"></header>
{{/if}}
{{#if isabout}}
    <header class="Header"><img
        class="brand"
        src="https://www.fpwc.org/wp-content/uploads/2021/10/wildfire-opt.jpg"
        alt="SIEF"></header>
{{/if}}
<nav>

    <div class="nav-wrapper grey darken-4">
        <a href="/" class="brand-logo">SIEF</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li>
                {{> search}}</li>
            {{#if ishome}}
                <li class="active">
                    <a href="/">BROWSE</a>
                </li>
            {{else}}
                <li>
                    <a href="/">BROWSE</a>
                </li>
            {{/if}}
            {{#if isschedule}}
                <li class="active">
                    <a href="/schedule">SCHEDULE</a>
                </li>
            {{else}}
                <li >
                    <a href="/schedule">SCHEDULE</a>
                </li>
            {{/if}}
            {{#if isabout}}
                <li class="active">
                    <a href="/about">ABOUT</a>
                </li>
            {{else}}
                <li>
                    <a href="/about">ABOUT</a>
                </li>
            {{/if}}
        </ul>
        <a href="#" data-target="slide-out" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
    </div>
</nav>

<ul id="slide-out" class="sidenav">
    <li>
        {{> search}}</li>
    {{#if ishome}}
        <li class="active">
            <a href="/">BROWSE</a>
        </li>
    {{else}}
        <li>
            <a href="/">BROWSE</a>
        </li>
    {{/if}}
    {{#if isschedule}}
        <li class="active">
            <a href="/schedule">SCHEDULE</a>
        </li>
    {{else}}
        <li >
            <a href="/schedule">SCHEDULE</a>
        </li>
    {{/if}}
    {{#if isabout}}
        <li class="active">
            <a href="/about">ABOUT</a>
        </li>
    {{else}}
        <li>
            <a href="/about">ABOUT</a>
        </li>
    {{/if}}
</ul>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('.sidenav');
        var instances = M
            .Sidenav
            .init(elems);
    });
</script>