{{> head}}

<div class="row">
    <div class="input-field col s6  offset-s3">
        <h2>{{{title}}}</h2>
    </div>
    <form action="/admin/adduser" method="POST">
        <div class="row">
            <div class="input-field col s6  offset-s3">
                <input required="required" id="uName" type="text" class="validate" name="name">
                <label for="uName">Full Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6  offset-s3">
                <input
                    required="required"
                    id="email"
                    type="email"
                    class="validate"
                    name="email">
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s6  offset-s3">
                <input
                    required="required"
                    id="password"
                    type="password"
                    class="validate"
                    name="password">
                <label for="password">Password</label>
            </div>
        </div>
        <div class="input-field col s6 offset-s3">
            <select id="category" name="role" class="validate">
                <option value="admin" selected="selected">Administrator</option>
                <option value="user">User</option>
            </select>
            <label>Select User Role</label>
        </div>
        <div class="input-field col s6 offset-s3">
            <input type="hidden" name="_csrf" value="{{tkn}}">
            <button type="submit" class="btn btn-primary">Add User</button>
        </div>
    </form>
</div>

<div class="row">
    <div class="input-field col s6  offset-s3">
        {{#each user}}
            <ul class="collection s6  offset-s3">
                <li class="collection-item avatar">
                    <i class="material-icons circle green">face</i>
                    <input type="hidden" name="id" value="{{_id}}"/>
                    <span class="title">{{name}}</span>
                    <p>{{email}}
                        <br>
                        {{role}}
                    </p>
                    <form id="usDel" action="/admin/remove-user/{{_id}}" method="POST">
                        <input type="hidden" name="id" value=""/>
                        <input type="hidden" name="_csrf" value="{{@root.tkn}}">
                        <input
                            type="submit"
                            name=""
                            class="material-icons icon-red secondary-content"
                            value="delete">

                    </form>
                </li>
            </ul>
        {{/each}}
    </div>

</div>

<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
        const elems = document.querySelectorAll('select');
        const instances = M
            .FormSelect
            .init(elems);
    });
</script>
{{> footer}}