<div class="container">
    <h3>{{title}}</h3>
    <div class="row">
        <form
            class="col s12"
            action="/admin/edit/update/{{film.id}}?_csrf={{tkn}}"
            method="POST"
            enctype="multipart/form-data">
            <div class="row">
                <div class="input-field col s6">
                    <input
                        placeholder="Type Film Name In English"
                        name="title"
                        id="film_name"
                        type="text"
                        class="validate"
                        value="{{film.title.en}}">
                        <label for="film_name">Film Name In Armenian</label>
                    </div>
                    <div class="input-field col s6">
                        <input
                        placeholder="Type Film Name In Armenian"
                        name="title_hy"
                        id="film_name_hy"
                        type="text"
                        class="validate"
                        value="{{film.title.hy}}">
                        <label for="film_name_hy">Film Name In Armenian</label>
                    </div>
                    <div class="input-field col s6">
                        <select id="category" name="category" class="validate">
                            <option value="{{film.category.en}}" disabled="disabled" selected="selected">{{film.category.en}}</option>
                            <option value="Wildlife Conservation Films">Wildlife Conservation Films</option>
                            <option value="Environmental Films">Environmental Films</option>
                            <option value="Educational Films">Educational Films</option>
                            <option value="Wildfire Prevention Films">Wildfire Prevention Films</option>
                            <option value="Informational Film Program">Informational Film Program</option>
                            <option value="Events">Events</option>
                            <option value="Journalistic Competition">Journalistic Competition</option>
                        </select>
                        <label>Slect Category In English</label>
                    </div>
                    <div class="input-field col s6">
                                <select id="category_hy" name="category_hy" class="validate">
                                    <option value="" disabled="disabled" selected="selected">{{film.category.hy}}</option>
                                    <option value="Վայրի բնության պահպանություն">Վայրի բնության պահպանություն</option>
                                    <option value="Բնապահպանական Խնդիրներ">Բնապահպանական Խնդիրներ</option>
                                    <option value="Կրթական">Կրթական</option>
                                    <option value="Անտառային հրդեհներ">Անտառային հրդեհներ</option>
                                    <option value="Տեղեկատվական ծրագիր">Տեղեկատվական ծրագիր</option>
                                    <option value="Միջոցառումներ">Միջոցառումներ</option>
                                    <option value="Լրագրողական հետաքննություն">Լրագրողական հետաքննություն</option>
                                </select>
                                <label for="category_hy">Select Category In Armenian</label>
                    </div>

                    <div class="input-field col s6">
                        <input
                            placeholder="Type Film Duration in minutes"
                            id="duration"
                            name="duration"
                            type="number"
                            value="{{film.duration}}"
                            class="validate">
                            <label for="duration">Film Duration (in minutes)</label>
                        </div>
                        <div class="input-field col s6">
                            <input
                                placeholder="Screening Date"
                                id="screening_date"
                                name="date"
                                type="text"
                                value="{{film.date}}"
                                class="datepicker">
                                <label for="film_category">Screening Date</label>
                            </div>
                            <div class="input-field col s6">
                                <input
                                    placeholder="Screening Time"
                                    id="screeningTime"
                                    name="screeningTime"
                                    type="text"
                                    class="timepicker"
                                    value="{{film.screeningTime}}"
                                    step="1">
                                    <label for="film_category">Screening Time</label>
                                </div>
                                <div class="input-field col s6">
                                    <input
                                        placeholder="Director In English"
                                        id="director"
                                        name="director"
                                        type="text"
                                        class="validate"
                                        value="{{film.director.en}}">
                                        <label for="director">Director In English</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input
                                        placeholder="Director In Armenian"
                                        id="director_hy"
                                        name="director_hy"
                                        type="text"
                                        class="validate"
                                        value="{{film.director.hy}}">
                                        <label for="director_hy">Director In Armenian</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input
                                            placeholder="Producer In English"
                                            id="producer"
                                            name="producer"
                                            type="text"
                                            class="validate"
                                            value="{{film.producer.en}}">
                                            <label for="producer">Producer In English</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input
                                            placeholder="Producer In Armenian"
                                            id="producer_hy"
                                            name="producer_hy"
                                            type="text"
                                            class="validate"
                                            value="{{film.producer.hy}}">
                                            <label for="producer_hy">Producer</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input
                                                placeholder="Editor"
                                                id="editor"
                                                name="editor"
                                                type="text"
                                                class="validate"
                                                value="{{film.editor.en}}">
                                                <label for="editor">Editor In English</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input
                                                placeholder="Editor In Armenian"
                                                id="editor_hy"
                                                name="editor_hy"
                                                type="text"
                                                class="validate"
                                                value="{{film.editor.hy}}">
                                                <label for="editor_hy">Editor In Armenian</label>
                                            </div>
                                            <div class="input-field col s6">
                                                <input
                                                    placeholder="Executive Producer In English"
                                                    id="exProducer"
                                                    name="exProducer"
                                                    type="text"
                                                    class="validate"
                                                    value="{{film.exProducer.en}}">
                                                    <label for="director">Executive Producer In English</label>
                                                </div>
                                                <div class="input-field col s6">
                                                    <input
                                                    placeholder="Executive Producer In Armenian"
                                                    id="exProducer_hy"
                                                    name="exProducer_hy"
                                                    type="text"
                                                    class="validate"
                                                    value="{{film.exProducer.hy}}">
                                                    <label for="exProducer_hy">Executive Producer In Armenian</label>
                                                </div>
                                                <div class="input-field col s6">
                                                    <input
                                                        placeholder="Cast"
                                                        id="cast"
                                                        name="cast"
                                                        type="text"
                                                        class="validate"
                                                        value="{{film.cast.en}}">
                                                        <label for="cast">Cast In English</label>
                                                    </div>
                                                    <div class="input-field col s6">
                                                        <input
                                                        placeholder="Cast In Armenian"
                                                        id="cast_hy"
                                                        name="cast_hy"
                                                        type="text"
                                                        class="validate"
                                                        value="{{film.cast.hy}}">
                                                        <label for="cast_hy">Cast in Armenian</label>
                                                    </div>
                                                    <div class="input-field col s6">
                                                        <input
                                                            placeholder="Film ID (ex: 403770068)"
                                                            id="fLink"
                                                            name="fLink"
                                                            type="text"
                                                            class="validate"
                                                            value="{{film.fLink}}">
                                                            <label for="director">Film ID (ex: 403770068)</label>
                                                        </div>
                                                        <div class="switch">
                                                            <label>
                                                                Off
                                                                <input class="btns" type="checkbox" name="show" value="{{film.show}}">
                                                                    <span class="lever"></span>
                                                                    On
                                                                </label>
                                                                <label>
                                                                    <input id="isEvent" type="checkbox" class="filled-in" name="event" value="{{film.event}}"/>
                                                                    <span>Event</span>
                                                                </label>
                                                            </div>

                                                            <div class="file-field input-field col s6">
                                                                <div class="btn">
                                                                    <span>IMG</span>
                                                                    <input type="file" name="img" value="{{film.img}}"></div>
                                                                    <div class="file-path-wrapper">
                                                                        <input class="file-path validate" type="text" value="{{film.img}}"></div>
                                                                    </div>
                                                                    <div class="file-field input-field col s6">
                                                                        <div class="btn">
                                                                            <span>IMG Gallery</span>
                                                                            <input type="file" name="imgGal" multiple="multiple"></div>
                                                                            <div class="file-path-wrapper">
                                                                                <input class="file-path validate" type="text" value="{{film.imgGal}}"></div>
                                                                            </div>
                                                                            <div class="input-field col s6">
                                                                                <input
                                                                                    placeholder="Country"
                                                                                    id="country"
                                                                                    name="country"
                                                                                    type="text"
                                                                                    class="validate"
                                                                                    value="{{film.country.en}}">
                                                                                    <label for="country">Country In English</label>
                                                                                </div>
                                                                                <div class="input-field col s6">
                                                                                    <input
                                                                                    placeholder="Country"
                                                                                    id="country_hy"
                                                                                    name="country_hy"
                                                                                    type="text"
                                                                                    class="validate"
                                                                                    value="{{film.country.hy}}">
                                                                                    <label for="country_hy">Country In Armenian</label>
                                                                                </div>
                                                                                <div class="input-field col s6">
                                                                                    <input
                                                                                        placeholder="Language In English"
                                                                                        id="lang"
                                                                                        name="lang"
                                                                                        type="text"
                                                                                        class="validate"
                                                                                        value="{{film.languages.en}}">
                                                                                        <label for="lang">Language In English</label>
                                                                                    </div>
                                                                                    <div class="input-field col s6">
                                                                                        <input
                                                                                        placeholder="Language In Armenian"
                                                                                        id="lang_hy"
                                                                                        name="lang_hy"
                                                                                        type="text"
                                                                                        class="validate"
                                                                                        value="{{film.languages.hy}}">
                                                                                        <label for="lang_hy">Language In Armenian</label>
                                                                                    </div>
                                                                                    <div class="input-field col s6">
                                                                                        <textarea id="description" name="description" class="materialize-textarea"></textarea>
                                                                                        <label for="description">Description In English</label>
                                                                                    </div>
                                                                                    <div class="input-field col s6">
                                                                                        <textarea id="description_hy" name="description_hy" class="materialize-textarea" value="{{film.description.en}}"></textarea>
                                                                                        <label for="description_hy">Description In Armenian</label>
                                                                                    </div>
                                                                                </div>
                                                                                <button class="btn waves-effect waves-light">Update
                                                                                </button>
                                                                            </div>

                                                                        </div>
                                                                    </form>
                                                                </div>
                                                            </div>

                                                            <script type="text/javascript">
                                                                document.addEventListener('DOMContentLoaded', function () {
                                                                    let options = {
                                                                        format: 'mmm dd'
                                                                    }
                                                                    let elems = document.querySelectorAll('.datepicker');
                                                                    let instances = M
                                                                        .Datepicker
                                                                        .init(elems, options);
                                                                });
                                                                document.addEventListener('DOMContentLoaded', function () {
                                                                    let options = {
                                                                        twelveHour: false
                                                                    }
                                                                    let elems = document.querySelectorAll('.timepicker');
                                                                    let instances = M
                                                                        .Timepicker
                                                                        .init(elems, options);
                                                                });
                                                                document.addEventListener('DOMContentLoaded', function () {
                                                                    const elems = document.querySelectorAll('select');
                                                                    const instances = M
                                                                        .FormSelect
                                                                        .init(elems);
                                                                });
                                                                let btns = document.querySelectorAll('.btns')
                                                                for (let i = 0; i < btns.length; i++) {
                                                                    if (btns[i].value === 'show') {
                                                                        btns[i].checked = true
                                                                        btns[i].value = 'hide'
                                                                    } else {
                                                                        btns[i].checked = false
                                                                        btns[i].value = 'show'
                                                                    }
                                                                }
                                                                let isEvent = document.getElementById('isEvent')
                                                                if (isEvent.value === 'true') {
                                                                    isEvent.checked = true;
                                                                }
                                                            </script>